*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 214, 214);
}

.container {
    background-color: rgb(251, 247, 247);
    height: 80%;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.container .head {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.head .heading {
    font-size: 40px;
}

.container .InputBox {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}

.InputBox .input {
    width: 80%;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.InputBox .btn {
    background-color: rgb(179, 220, 220);
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(112, 202, 202);
}

.container .list {
    padding-left: 22px;
    padding-right: 70px;
    padding-top: 20px;
}

 .ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 17px;
}

 li {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    font-size: 17px;
    list-style: none;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.remove-btn {
    background-color: rgb(179, 220, 220);
    padding: 2px 9px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: rgb(112, 202, 202);
}